body {
    background-size: 100%;
    background-color: #2E3440;
    font-size: medium;
    font-family: 'Anton', sans-serif;
}

header {
    text-align: center;
    font-size: 1.2em;
    color: #A3BE8C;
    background: #434C5E;
    border-radius: 1.5em;
}

footer {
    text-align: center;
    font-size: 1.2em;
    color: #A3BE8C;
    background: #434C5E;
    border-radius: 1.5em;
}

a {
    text-decoration: none;
}

nav {
    background: #434C5E;
    margin: 10px 0px 0px 0px;
    border-radius: 1.2em;
}

nav ul {
    margin: 0px;
    margin-left: 20px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: #B48EAD;
}

nav ul li.selected {
    background-color: #5d677a;
}

.headerButton {
    position: initial;
    background: #434C5E;
    width: max-content;
    font-size: 1.2em;
    color:#A3BE8C;
    text-shadow: #5a7caf 1px 3px 3px;
    box-shadow: #A3BE8C 0px 0px 3px;
    margin: 1vw;
    border-radius: 1vw;
    text-align: center;
}

.logo {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

div.main {
    text-align: center;
}

#tableContainer {
    width: 100%;
    display: table;
    border-spacing: 10px;
}

#tableRow {
    display: table-row;
}

section#main {
    display: table-cell;
    background: #434C5E;
    padding: 15px;
    width: 50%;
    vertical-align: top;
    border-radius: 1.5em;
    margin-right: 10px;
    vertical-align: top;
}

aside#sidebar {
    padding: 15px;
    width: 50%;
    display: table-cell;
    border-radius: 1.5em;
    background: #434C5E;
    vertical-align: top;
    color: #D8DEE9;
}

.gameButton {
    position: relative;
    background: #434C5E;
    width: max-content;
    font-size: 2em;
    color:#EBCB8B;
    text-shadow: #D08770 1px 3px 3px;
    box-shadow: #EBCB8B 0px 0px 3px;
    border-radius: 1vw;
    margin-bottom: 15px;
    text-align: center;
}