.background {
    background: #458588;
    table-layout: fixed;
    border-spacing: 0;
}

.background td {
    padding: 0;
}

.lava {
    background: #cc241d;
}

.wall {
    background: #bdae93;
}

.actor {
    position: absolute;
}

.coin {
    background: #d79921;
}

.player {
    background: #3c3836;
}

.lost .player {
    background: #9d0006;
}

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
}